<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title%></title>
    <!-- locals are global object -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h2>
        <i class="fa fa-address-book"></i>
        My Contact List
    </h2>
    <ul>
        <% for(let i of contactList) { %> 
                <li>
                    <p class="name"><%= i.name %></p>
                    <p class="num"><%= i.phone %></p>
                </li>
        <% } %>
    </ul>
    <form action="/create-contact" method="Post">
        <input placeholder="name" type="text" name="name" required>
        <input placeholder="phone" type="text" name="phone" required>
        <button type="submit">Add Contact</button>
    </form>
    <!-- without using express.static method you cannot use /js/home.js but you  need to use assets/js/home.js-->
    <script src="/js/home.js"></script>
</body>
</html>